<header class="header_area">
  <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
    <!-- Classy Menu -->
    <nav class="classy-navbar" id="essenceNav">
      <!-- Logo -->
      <a class="nav-brand" routerLink="/">
        <img src="assets/img/core-img/logo.png" alt="">
      </a>
      <!-- Navbar Toggler -->
      <div class="classy-navbar-toggler">
        <span class="navbarToggler"></span>
      </div>
      <!-- Menu -->
      <div class="classy-menu">
        <!-- close btn -->

        <!-- Nav Start -->
        <div class="classynav">
          <ul>
            <li><a routerLink="/shop">Shop</a></li>
            <li><a routerLink="/blog">Blog</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </div>
        <!-- Nav End -->
      </div>
    </nav>

    <!-- Header Meta Data -->
    <div class="header-meta d-flex clearfix justify-content-end">
      <!-- Search Area -->
      <div class="search-area">
        <form action="#" method="post">
          <input type="search" name="search" id="headerSearch" placeholder="Type for search">
          <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>
      <!-- Favourite Area -->
      <div class="favourite-area">
        <a href="#"><img src="assets/img/core-img/heart.svg" alt=""></a>
      </div>
      <!-- User Login Info -->
      <div class="user-login-info">
        <a href="#"><img src="assets/img/core-img/user.svg" alt=""></a>
      </div>
      <!-- Cart Area -->
      <div class="cart-area">
        <a href="#" id="essenceCartBtn"><img src="assets/img/core-img/bag.svg" alt=""> <span>3</span></a>
      </div>
    </div>

  </div>
</header>
